/* Default Webpage Background Color */


/* navbar styling*/
a.navbar-brand{
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  font-size: 25px;
}


/* Headers Font/Color/Background */
h1 {
    color: white;
    padding: 10px 10px 10px 35px;
  }

#grad1 {
    height: 70px;
    background-image: linear-gradient(130deg, rgb(47, 145, 145), lightgrey); 
  }

h2 {
  color: rgb(47, 145, 130);
}

h3 {
  color: rgb(47, 145, 130);
  text-shadow: 1px 1px lightgrey;
  font-size: 14px;
}

/* content styling*/
.content {
  padding: 50px 10px 80px 10px;
  overflow: hidden;
}

/* body background*/
body.a{
  background-color:  lightgrey
}

.col-md-12{
  background-color: white;
  padding: 20px;
}
.col{
  background-color: white;
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px
}
.img-container{
  text-align: center;
  display: block
}

/* 
.box {
  border-radius: 15px 50px 30px 5px;
  background-color: white;
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
} */

.img-float{
  float:right;
}

p.a{
  font-size: large;
  padding:10px
  
}

.green_border {
  border-style: solid;
  border-color:rgb(47, 145, 145);
}


/*footer styling*/
.footer {
    color: whitesmoke;
    width:100%;
    height:30px;
    background-image: linear-gradient(130deg, lightgrey, rgb(47, 145, 145))
 }
  
.alignright {
	float: right;
}

.site-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
