
h1 {
    color: white;
    background-color: rgb(47, 145, 145) ;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

h2 {
  color: rgb(47, 145, 145);
  font-family: Georgia, 'Times New Roman', Times, serif
}

p {
  font-family: Georgia, 'Times New Roman', Times, serif
}


/*footer styling*/
.page-footer{
  background-color: rgb(92, 90, 90);
  margin-top: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
